body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-size: 16px;
}

button {
  width: 90%;
  margin: 0 auto;
  height: 56px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 32px;
  border: 2px solid #00AAA4;
  cursor: pointer;
  background: #fff;
  transition: all .1s linear;
  font-size: 20px;
}

button:hover {
  border: none;
  background: #00AAA4;
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Books */

.books__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}

.books__item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in;
}

.books__item:hover {
  outline: 4px solid #00AAA4;
}

.books__img-wrapper {
  position: relative;
  height: auto;
}

.books__img {
  box-sizing: border-box;
  display: block;
  object-fit: contain;
  max-width: 330px;
  max-height: 410px;
  aspect-ratio: 241/235;
  width: 100%;
  height: auto;
  transition: all .3s ease;
  margin: 0 auto;
}

.books__item:hover .books__img {
  outline: 6px solid #00AAA4;
}

.books__content-wrapper {
  padding: 10px;
  text-align: center;
}

.books__title {
  font-size: 18px;
  font-weight: 500;
  min-height: 62.08px;
}

.books__author {
  min-height: 36.78px;
}

.books__show-more {
  margin-bottom: 15px;
}

/* Bag */

.bag__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}

/* Modal */

.modal__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  animation: showUp .3s linear forwards;
}

@keyframes showUp {
  0% {
    display: grid;
  }
  15% {
    opacity: .3;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.modal__wrapper.visible {
  display: grid; 
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 70vw;
  height: 40vh;
  background: #fff;
  z-index: 9999;
  padding: 20px;
}

.modal__img {
  display: block;
  object-fit: contain;
  width: 60%;
  max-width: 60%;
  height: 100%;
}

.modal__title {
  font-size: 18px;
  font-weight: bold;
}

.modal__close {
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url("./assets/images/close-btn.svg");
  background-size: contain;
  border-radius: 100px;
  top: -57px;
  right: 0;
  transition: all .3s linear;
  cursor: pointer;
}

.modal__close:hover {
  background-image: url("./assets/images/close-btn-hover.svg");
}